/* #region Default Settings */

html{
  
  /* setting the default font size to 10px for rem calculations */
  font-size: 62.5%
}
*, *::before,*::after{
  /* changing the measurement of all elements and their before and after
  to be measured within the border box */
  box-sizing: border-box;
}

body{
   margin: 10px;
   font-family: Inter, Arial, Arial, Helvetica, sans-serif;
   color: var(--color-body);
   font-size: 2.4rem;
   line-height: 1.5;
}
/* #endregion */


/* #region colors */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

/* #endregion */

/* #region typography */

h1, h2, h3{
  color: var(--color-headings) ;
  margin-bottom: 1rem;
}

h1{
  font-size: 7rem;
}

h2{
  font-size: 4rem;
}

h3{
  font-size: 3rem;
}

p{
  margin-top: 0;
}

@media screen and (min-width: 1024px){
  body{
    font-size: 1.8rem;
  }
  h1{
    font-size: 8rem;
  }
  
  h2{
    font-size: 4rem;
  }
  
  h3{
    font-size: 2.4rem;
  }
}


/* #endregion */

/* #region links */
a{
  text-decoration: none;
}
.link-arrow{
 color: var(--color-accent);
 text-transform: uppercase;
 font-size: 2rem;
 font-weight: 800;
}

.link-arrow::after{
  content: '-->';
  margin-left: 5px;
  transition: margin .15s cubic-bezier(.75,.02,0,.99);
}

.link-arrow:hover::after{
  margin-left: 10px;
}

@media screen and (min-width: 1024px){
  .link-arrow{
    font-size: 1.5rem;
  }
}
/* #endregion */


/* #region badge */
.badge{
  border-radius: 20px;
  font-weight: 600;
  padding: .5rem 2rem;
  white-space: nowrap;
}

.badge--primary{
  background-color: var(--color-primary);
  color: white;
}
.badge--secondary{
  background-color: var(--color-secondary);
  color: white;
}

.badge--small{
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px){
.badge{
  font-size: 1.5rem;
}
.badge--small{
  font-size: 1.2rem;
}
}

/* #endregion */

/* #region Lists */
.list{
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}
.list--inline .list_item{
  display: inline-block;
  margin-right: 2rem;
}
.list_item{
  font-weight: 600;
}

.list--tick{
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list_item{
  padding-left: .5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px){
  .list--tick .list_item{
    padding-left: 0;
  }
}
/* #endregion */

/* #region icons */
.icon{
  width: 40px;
  height: 40px;
}

.icon--primary{
  fill: var(--color-primary);
}

.icon-container{
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/* #endregion */



/* #region buttons */
.btn{
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 3rem;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin: 2rem 0;
}

.btn:hover{
  transition: filter .2s cubic-bezier(.75,.02,.19,1);
  filter: brightness(.9);
}
.btn--primary{
  background: var(--color-primary);
  color: rgb(255, 255, 255);
}
.btn--secondary{
  background: var(--color-secondary);
  color: rgb(255, 255, 255);
}
.btn--accent{
  background: var(--color-accent);
  color: rgb(255, 255, 255);
}

.btn--block{
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px){
  .list--tick .list_item{
    padding-left: 0;
  }
}
/* #endregion */

/* region inputs */
.input{
  border-radius: 80px;
  border: 1px solid #ccc;
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}
::placeholder{
  color: #cbcdd7;
}
@media screen and (min-width: 1024px){
  .input{
    font-size: 1.5rem;
  }
}

.input-group{
  border: 1px solid #ccc;
  border-radius: 80px;
  display: flex;
}

.input-group .input{
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .btn{
  margin: 4px
}
/* #endregion */

/* #region cards */
.card{
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}
.card__header, .card__body{
  padding: 2rem 3rem;
}

.card--primary .card__header{
  background: var(--color-primary);
  color: #fff;
}
.card--secondary .card__header{
  background: var(--color-secondary);
  color: #fff;
}

.card--secondary .badge--secondary{
  background: #0a1f8611;
}
/* #endregion */


/* #region plans */
.plan__name{
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;

}

.plan__price{
  font-size: 6rem;
}

.plan__billing-cycle{
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 80%;
}
.plan__description{
  display: block;
}
.plan--popular .card__header{
  position: relative;
  background: var(--color-primary);
}
.plan--popular .card__header::before{
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}
/* #endregion */


.btn--container{
  display: flex;
  justify-content: space-around;
  background: #00d9ff1b;
  width: 40rem;
  height: 20rem;
}

.btn--container .btn--container__b1{
  display: flex;
  background: #1b0760;
  width: 20%;
  height: 20%;
}
 
