/* #region Default Settings */

html{
  
  /* setting the default font size to 10px for rem calculations */
  font-size: 62.5%
}
*, *::before,*::after{
  /* changing the measurement of all elements and their before and after
  to be measured within the border box */
  box-sizing: border-box;
}
body{
   margin: 10px;
   background: url(../images/constellation.svg);
}
/* #endregion */


/* #region colors */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

/* #endregion */