/* #region Default Settings */

html{
  
  /* setting the default font size to 10px for rem calculations */
  font-size: 62.5%
}
*, *::before,*::after{
  /* changing the measurement of all elements and their before and after
  to be measured within the border box */
  box-sizing: border-box;
}
body{
   margin: 10px;
   background: url(../images/constellation.svg);
}
/* #endregion */


/* #region vars */